/* Product list style  */

.products {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	.title {
		text-align: center;
		text-transform: uppercase;
		margin: 1em 0;
		font-size: 14px;
	}
}

.product-images {
	width: 100%;
	min-height: 205px;

	img {
		display: block;
		height: auto;
		margin: 0 auto;
	}
}
